.subcribe-button { 
    height: 36px; 
    background-color : rgb(155, 19, 19) ;
    color: white ;
    border  : none;  
    width : 105px ; 
    border-radius: 2px;
    cursor: pointer; 
    margin-right:  8px ;
    transition: opacity 1s;
    padding-left:  30px;
    padding-top: 20px;
}  
.join-button{ 
   height: 36px;
   background-color: white;
   border-color: blue;
   border-style: solid;
   border-width: 1px ;
   color : blue ;
   width: 90 ;

   border-radius:2px;
   cursor  : pointer ;  
   transition:  background-color 1s ,
    color 1s ; 
}
/* the transition is only avarible if the pointer is horvering */ 
.subcribe-button:hover{
    background-color: green ;
    opacity: 0.3;
} 
/* opacity is used to fade out element  */ 
.subcribe-button {
    background-color: purple; 
    opacity: 0.5 ;
}
.tweet-button  {
    background-color:  blue;
    color:  white;
    height:  36px ;
    width:  90px ;
    border-radius:  18px;
    font-weight: bold;
    cursor: pointer ;
    margin-left: 8px;
}