.pofile
{
    box-shadow:  0 0 6px rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 300px;
    text-align: left;
    display: inline-block;
    margin: 10px;
}
.po_pic 
{   
    padding-right: 10px;
    width: 200px;
    height: 175px;
}
.name,.button,.friend 
{
    margin: 5px;
    margin-left: 10px;
    font-family: Arial;
    
}
.name 
{
    font-weight: bold;
    font-size: 20px;
}
.friend 
{
    color:  gray;
    font-size: 14px;
}
.button 
{
    color: white;
    background-color: rgb(24, 119, 242);
    border:  none;
    border-radius: 5px;
    width: 80px;
    height: 30px;

}

