body
{
    height: 3000px;
}
.right-side-bar 
{
    background-color: green;

    position: fixed;
    top: 0 ; 
    right: 0;
    bottom:  0;
    width: 100px;
} 
.element 
{   
    
    background-color:  rgba(0,0,0,0.5);
    position: fixed;
    top : 0  ;
    bottom:  0 ;
    right: 0 ; 
    left : 0 ; 
    display: flex;
    justify-content:  center;
    align-items:  center ;

   
    
}
.model 
{
    background-color: white;
    width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    
}
.title-text
{
    font-family: Arial;
    font-size:  24px;
    font-weight: bold;
    margin-bottom: 12px;
}
.title-information
{
    font-family:  Arial;
    margin-bottom: 12px;
}



